*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  margin-left: 8px;
}

.content {
  border: 1px solid red;
  height: 100vh;
  /* display: grid; */
  display: flex;
  flex-direction: column;
}

.side-bar {
  /* left: 0; */
  /* position: absolute; */
  translate: -100%;
  transition: all var(--animation-timing);
  border: 1px solid red;

  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-height) + 2rem);
  background-color: var(--foreground);
  /* max-width: 10rem; */
  height: 100%;
  width: 160px;
  margin: 0;
  color: white;
}

header {
  flex: 1;
}

main {
  flex-grow: 10;
  /* display: grid;
  grid-template-columns: 1fr 4fr; */
  display: flex;
}

.todo-holder {
  padding: 15px;
  height: 100%;
  border: 1px solid red;
  transition: all var(--animation-timing);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: start;
  width: 100%;
}

.todos {
  width: 100%;
  height: 100%;
}

.todo {
  background-color: #f9f7f3;
  border-radius: 15px;
  border: none;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.todo-left {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.create-todo {
  align-self: flex-end;
  justify-self: flex-end;
}

.deleteBtn {
  max-height: 35px;
  cursor: pointer;
  border: 1px solid orange;
  padding: 5px;
  border-radius: 50%;
  margin-left: 5px;
}

.editBtn {
  max-height: 35px;
  cursor: pointer;
  border: 1px solid orange;
  padding: 5px;
  border-radius: 50%;
  margin-left: 5px;
}

:root {
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --foreground: #333;
  --background: white;
  --hamburger-marginT: 90px;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  --animation-timing: 200ms ease-in-out;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  cursor: pointer;
  width: max-content;
  position: absolute;
  top: var(--hamburger-marginT);
  left: 10px;
  z-index: 2;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;

  transition: all var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked) {
  --foreground: white;
}

.hamburger-menu:has(input:checked) + .side-bar {
  translate: 0%;
  width: 250px;
}

.hamburger-menu:has(input:checked) ~ .todo-holder {
  background-color: red;
  width: 100%;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: var(--animation-timing);
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 10px;
  /* width: 100%; */
}

.close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 5px;
}

.modal-body {
  padding: 10px 15px;
}

.todo-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

.form-element {
  display: flex;
  flex-direction: column;
  min-width: 70%;
  /* max-width: 70%; */
  font-size: 20px;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  pointer-events: none;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}

.low-priority {
  border-left: 10px solid #aaf683;
}

.medium-priority {
  border-left: 10px solid #ffd60a;
}

.high-priority {
  border-left: 10px solid #ef233c;
}

.current-data-text {
  /* font-size: 15px; */
  color: #eeeeee;
}

.warn-msg {
  margin-top: 0;
}

.conirmation {
  min-width: 50%;
  padding: 15px;
}

.confirm-btns {
  display: flex;
  justify-content: space-around;
}

.confirm-btn {
  width: 80px;
  border-radius: 5px;
  border: none;
  margin: 2px;
  padding: 10px 15px;
}

#project-add-form {
  display: none;
}

.project-tab {
  font-size: 20px;
  border: 1px solid white;
  border-radius: 15px;
  border: none;
  padding: 5px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.tab-delete-btn {
  max-height: 23px;
  cursor: pointer;
  border: 1px solid white;
  padding: 2px;
  border-radius: 50%;
  margin-left: 5px;
}
/* .mini-form {
  position: relative;
  z-index: 10;
  transform: scale(0);
}

.mini-form.active {
  position: relative;
  transform: scale(1);
  z-index: 10;
}

#overlay.semi-active {
  pointer-events: all;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
} */
